html,
body, ul, li, h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

button {
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  color: white;
  margin: 15rem auto;
}

@media (min-width: 1044px) {
  .container {
    width: 60%;
  }
}
